/*БЛОК С ИКОНКАМИ */
.benefits-icons {
  display: flex;
  flex-direction: column;
  padding: 31px 18px 46px 65px;

  @media (min-width: @width-tablet) {
    padding: 148px 0 60px;
    flex-direction: row;
  }

  @media (min-width: @width-desctop) {
    padding: 169px 0 69px;
  }
}

.benefits-icons__title {
  .mixin-fonts(18px; 26px; 700);
  padding-bottom: 16px;


  @media (min-width: @width-tablet) {
    .mixin-fonts(21px; 26px; 700);
    padding-bottom: 22px;

    &--house {
      padding-top: 10px;
    }

    &--food {
      padding-top: 8px;
    }

    &--gift {
      padding-right: 7px;
      padding-bottom: 24px;
    }
  }

  @media (min-width: @width-desctop) {
    &--house {
      padding-top: 1px;
    }

    &--food {
      padding-top: 0;
    }
  }
}

.benefits-icons__text {
  .mixin-fonts(14px; 21px; 400);

  @media (min-width: @width-tablet) {
    &--gift {
      padding-right: 10px;
    }
  }
}

.benefits-icons__item {
  list-style-type: none;
  padding-bottom: 33px;
  position: relative;

  @media (min-width: @width-tablet) {
    padding: 0 37px 0;
    width: calc(100% / 3);
    text-align: center;
  }

  &--last-item {
    padding-bottom: 0;

    @media (min-width: @width-tablet) {
      top: 4px;
      left: 3px;
    }
  }

  &::before {
    content: " ";
    background-size: contain;
    font-size: 0;
    position: absolute;
    left: -47px;
    top: -8px;
    width: 40px;
    height: 40px;
    display: inline-block;

    @media (min-width: @width-tablet) {
      left: 87px;
      top: -93px;
      width: 79px;
      height: 79px;
    }

    @media (min-width: @width-desctop) {
      left: 157px;
      top: -106px;
      width: 81px;
      height: 81px;
    }
  }

  &--house::before {
    background-image: url("../img/sprite.svg#house");
  }

  &--food::before {
    background-image: url("../img/sprite.svg#food");
  }

  &--gift::before {
    background-image: url("../img/sprite.svg#gift");
  }
}
