/*БЛОК С ИКОНКАМИ */
.benefits-icons {
  display: flex;
  flex-direction: column;
  padding: 31px 18px 46px 65px;

  @media (min-width: @width-tablet) {
    padding: 158px 0 60px;
    flex-direction: row;
  }

  @media (min-width: @width-desctop) {
    padding: 169px 0 69px;
  }
}

.benefits-icons__title {
  .mixin-fonts(18px; 26px; 700);
  padding-bottom: 16px;

  @media (min-width: @width-tablet) {
    .mixin-fonts(21px; 26px; 700);
    padding-bottom: 34px;
  }
}

.benefits-icons__text {
  .mixin-fonts(14px; 21px; 400);
}

.benefits-icons__item {
  list-style-type: none;
  padding-bottom: 33px;
  position: relative;

  @media (min-width: @width-tablet) {
    padding: 0 50px 0 50px;
    width: calc(100% / 3);
    text-align: center;
  }

  &--last-item {
    padding-bottom: 0;
  }

  &::before {
    content: " ";
    background-size: contain;
    font-size: 0;
    position: absolute;
    left: -47px;
    top: -8px;
    width: 40px;
    height: 40px;
    display: inline-block;

    @media (min-width: @width-tablet) {
      left: calc((100% - 73px) / 2);
      top: -79px - 25px;
      width: 79px;
      height: 79px;
    }
  }

  &--house::before {
    background-image: url("../img/svg/house.svg");
  }

  &--food::before {
    background-image: url("../img/svg/food.svg");
  }

  &--gift::before {
    background-image: url("../img/svg/gift.svg");
  }
}
