@import url("../mixin-fonts.less");
@import url("../variables.less");

/*БЛОК С БОЛЬШОЙ КАРТИНКОЙ */
.benefits-image {
  display: flex;
  flex-direction: column;

  @media (min-width: @width-tablet) {
    flex-direction: row;

    &--reverse {
      flex-direction: row-reverse;
    }
  }
}


.benefits-image__text-wrapper {
  background-color: @color-main;
  text-align: center;
  padding: 48px 18px 40px 18px;

  @media (min-width: @width-tablet) {
    width: calc(100% / 3);
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: @width-desctop) {
    width: calc((100% / 3) - 65px * 2);
    padding: 52px 65px 51px 65px;
  }
}

.benefits-image__text-wrapper--transform {
  @media (max-width: (@width-tablet - 1px)) {
    clip-path: polygon(0% 0%, 50% 26px, 100% 0%, 100% 100%, 0% 100%);
  }
}

.benefits-image__title {
  .mixin-fonts(18px; 26px; 700; @gray--lightest);
  padding-bottom: 11px;

  @media (min-width: @width-desctop) {
    .mixin-fonts(21px; 26px; 700; @gray--lightest);
    padding-bottom: 22px;
  }
}

.benefits-image__subtitle {
  .mixin-fonts(14px; 21px; 400; @gray--lightest);
  padding-bottom: 17px;

  @media (min-width: @width-desctop) {
    padding-bottom: 34px;
  }
}

.benefits-image__text {
  .mixin-fonts(14px; 21px; 400; @gray--lightest);
}

.benefits-image__image {
  @media (min-width: @width-tablet) {
    width: calc((100% / 3) * 2);
    height: 256px;
    object-fit: cover;
  }
}
