@import url("../mixin-fonts.less");
@import url("../variables.less");

.booking {
  padding: 38px 18px 49px 18px;
  text-align: center;

  @media (min-width: @width-tablet) {
    padding: 61px 0 59px 0;
  }

  @media (min-width: @width-desctop) {
    padding-bottom: 66px;
  }
}

.booking__texts-wrapper {
  @media (min-width: @width-tablet) {
    padding: 0 160px;
  }

  @media (min-width: @width-desctop) {
    padding: 0 300px;
  }
}

.booking__title {
  .mixin-fonts(21px; 26px; 700);
  padding-bottom: 20px;

  @media (min-width: @width-tablet) {
    .mixin-fonts(30px; 26px; 700);
    padding-bottom: 32px;
  }
}

.booking__text {
  .mixin-fonts(@color: @gray--dark);
  padding-bottom: 32px;

  @media (min-width: @width-tablet) {
    .mixin-fonts(14px; 21px; 400);
    padding-bottom: 40px;
  }

  @media (min-width: @width-desctop) {
    padding-bottom: 46px;
  }
}
