.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 9px;

  @media (min-width: @width-tablet) {
    padding-top: 0;
    padding-bottom: 3px;
  }
}

.copyright__text {
  .mixin-fonts(14px; 21px; 400);
}
