.main-banner {
  height: 389px;
  background-color: @gray--dark;
  background-image: url("../img/content/main-banner.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  clip-path: polygon(0% 0%, 100% 0%, calc(50% + 600px) calc(100% - 57px), calc(50% + 351px) calc(100% - 33px), calc(50% + 351px) calc(100% - 57px), 50% 100%, calc(50% - 351px) calc(100% - 57px), calc(50% - 351px) calc(100% - 33px), calc(50% - 600px) calc(100% - 57px));

  @media (min-width: @width-tablet) {
    height: 518px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/main-banner@2x.jpg");
  }
}

.main-banner__img-wrapper {
  padding-top: 90px;

  @media (min-width: @width-tablet) {
    padding-top: 78px;
  }
}

.main-banner__img {
  width: 282px;
  height: 214px;

  @media (min-width: @width-tablet) {
    width: 461px;
    height: 350px;
  }
}
