.page__body {
  background-color: @gray-light;
}

.page__content {
  background-color: @gray--lightest;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  max-width: @width-desktop;
  margin: 0  auto;

  @media (min-width: @width-desktop) {
    width: @width-desktop;
  }
}
