.site-navigation-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (max-width: @width-tablet) {
    &--visible {
      visibility: visible;
    }

    &--not-visible {
      visibility: collapse;
    }

    &--no-js {
      visibility: visible;
    }
  }

  @media (min-width: @width-tablet) {
    flex-direction: row;
    justify-content: center;
    visibility: visible;
  }
}

.site-navigation-list__item {
  @media (min-width: @width-tablet) {
    width: 153px;
    margin-top: 2px;
    margin-bottom: -2px;

    &:nth-child(2) {
      padding-right: 156px;
    }
  }

  @media (min-width: @width-desktop) {
    width: 239px;

    &:nth-child(2) {
      padding-right: 239px;
    }
  }
}

.site-navigation-list__link {
  width: 100%;
  font-size: 18px;
  border-bottom: 1px solid @color-sub-border;
  border-top: 1px solid @color-sub-border--light;
  padding-top: 16px;

  @media (min-width: @width-tablet) {
    background-color: @gray--lightest;
    border: 0;
    .mixin-fonts(14px;21px;700;@gray--darkest);

    &--current {
      .mixin-fonts(14px;21px;700;@color-sub-active);
    }

    &:hover {
      .mixin-fonts(14px;21px;700;@color-main);
      background-color: @gray--lightest;
    }

    &:active {
      .mixin-fonts(14px;21px;700;@gray--dareker);
      background-color: @gray--lightest;
    }
  }

  &--first-element {
    border-top: 0;
  }

  &--last-element {
    border-bottom: 0;
    box-shadow: inset 0 -7px 10px -10px @color-sub-border--dark;
    overflow: hidden;

    @media (min-width: @width-tablet) {
      box-shadow: 0 0 0 0;
    }
  }
}
