.social-button {
  width: 48px;
  height: 48px;
  padding: 0;

  &::before {
    content: " ";
    background-size: contain;
    margin: 12px;
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  &--vkontakte::before {
    background-image: url("../img/svg/vkontakte.svg");
  }

  &--vkontakte:active::before {
    background-image: url("../img/svg/vkontakte_active.svg");
  }

  &--telegram::before {
    background-image: url("../img/svg/telegram.svg");
  }

  &--telegram:active::before {
    background-image: url("../img/svg/telegram_active.svg");
  }

  &--youtube::before {
    background-image: url("../img/svg/youtube.svg");
  }

  &--youtube:active::before {
    background-image: url("../img/svg/youtube_active.svg");
  }
}
