.social-button {
  width: 48px;
  height: 48px;
  padding: 0;

  &::before {
    content: " ";
    background-size: contain;
    margin: 12px;
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  &--vkontakte::before {
    background-color: #ffffff;
    mask-image: url("../img/sprite.svg#vkontakte");
  }

  &--vkontakte:active::before {
    background-color: #87b5d1;
  }

  &--telegram::before {
    background-color: #ffffff;
    mask-image: url("../img/sprite.svg#telegram");
  }

  &--telegram:active::before {
    background-color: #87b5d1;
  }

  &--youtube::before {
    background-color: #ffffff;
    mask-image: url("../img/sprite.svg#youtube");
  }

  &--youtube:active::before {
    background-color: #87b5d1;
  }
}
